.form{
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
}

.form__fieldset{
    border: 5px double rgb(153, 154, 153);
}

.form__legend{
    background-color: rgb(214, 215, 215);
    border-radius: 30px;
    padding: 20px;
}

.form__label{
    display: inline-block;
    width: 100%;
    max-width: 200px;
    margin-right: 5px;
    padding: 20px;
}

.form__label--radio{
    display: inline-block;
    width: 100%;
    max-width: 50px;
}

.form__input{
    width: 100%;
    max-width: 400px;
}

.form__input:read-only{
    background-color: rgb(250, 205, 146);
}

.form__input--radio{
    margin-right: 30px;
}

.form__flexButton{
    display: flex;
    justify-content: flex-end;
}

.form__button{
    flex-basis: 120px;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    box-shadow: 3px 3px 2px black, inset 0px 0px 10px 4px rgb(14, 212, 14);
}